.linear-plugin--card {
    background-color: var(--background-secondary);
    border-radius: 5px;
    border: 1px solid var(--background-modifier-border);
    padding: 5px 10px 10px 10px;
    margin: 10px 0;

    display: grid;
    grid-template-columns: 150px auto 100px;
    grid-template-rows: auto;
    grid-template-areas:
        "status . id"
        "title title title"
        "assignee labels labels";

    &:hover {
        border-color: var(--background-modifier-border-hover);
        cursor: pointer;
    }

    .linear-plugin--issue__id {
        grid-area: id;
        align-self: center;
        text-align: end;
    }

    .linear-plugin--issue__status {
        grid-area: status;
        align-self: center;
    }

    .linear-plugin--issue__title {
        grid-area: title;
        margin: 5px 0 10px 0;
    }

    .linear-plugin--issue__assignee {
        grid-area: assignee;
    }
}
