.linear-plugin--settings__user {
    background-color: var(--background-secondary);
    border-radius: var(--callout-radius);
    padding: 10px 15px;

    .additional-context {
        grid-area: context;
    }

    .avatar {
        --background-avatar-default: var(--background-secondary-alt);
    }

    .user-display {
        display: grid;
        grid-area: user-display;
        grid-template-areas: 
            "avatar name"
            "avatar email";
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 20px;

        .user-avatar {
            grid-area: avatar;
        }

        .user-name {
            grid-area: name;
        }

        .user-email {
            grid-area: email;
            font-size: small;
            color: var(--text-faint)
        }
    }

    .api-key-input {
        display: block;
    }

    button {
        float: right;
    }
}